/node_modules
/public/hot
/public/public
/public/product
/public/storage
/public/index.php
/public/test03
/public/enter-virtualmarketplace
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
public/index.php
